<html>

  <head>
    <title>Susann's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Business Intelligence for Girls Blog</a></h1>
      <h2><em>Every girl can become a superhero Business Analyst <br/>
          Just read through my blog how to become superhero</em></h2>
    </div>

    <div>
      <p>published: June 17, 2017</p>
      <h2><a href="">Reasons why it is a great job</a></h2>
      <ul><li>Diversity of task</li>
          <li>You definitely can impress everyone if you as a girl have programming skills</li>
      </ul>
    </div>

    <div>
      <p>published: June 17, 2017</p>
      <h2><a href="">My second post</a></h2>
      <p>I am so impressed of what I am able to do!</p>
    </div>

  </body>
</html>
